<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre" height="100px" width="250px">
        
        <p>Lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
            
        <ul>
            <li>   <a href="">Ofertas</a> </li>
            <li>   <a href="">Tiendas Oficiales</a> </li>
            <li>   <a href="">Vender</a> </li>
            <li>   <a href="">Ayuda</a> </li>
        </ul>

        <ul>
            <li>   <a href="">Creá tu cuenta</a> </li>
            <li>   <a href="">Ingresá</a> </li>
            <li>   <a href="">Mis compras</a> </li>
        </ul>  
        
        <div>
            <img src = "/images/img-home-banner.jpg" alt = "Home Banner" width="360px">
        </div>

        <main>
            <ul>
                <li><b>Sección: Basado en tu última visita</b></li>
            </ul>

            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360px">
            <pre>
                $6.770
                40% OFF
                Cafetera Moulinex
            </pre>

            <img src="/images/img-macbook-pro-2019.jpg" alt = "Mackbook pro 2019" width="360px">
            <pre>
                $230.000
                20% OFF
                MacBook Pro 2019
            </pre>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" width="360px">
            <pre>
                $70.500
                10% off
                Samsung Galaxy S10
            </pre>

            <img src="/images/img-tv-samsung-smart.jpg" alt="TV samsung smart" width="360px">
            <pre>
                $23.200
                5% off
                SmartTv Samsung 43"
            </pre>

        </main>

        <ul>
            <li><b>Sección de Ofertas</b></li>
        </ul>

        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="360px">
        <pre>
            $6.770
            40% OFF
            Cafetera Moulinex
        </pre>

        <img src="/images/img-macbook-pro-2019.jpg" alt = "Macbook pro 2019" width="360px">
        <pre>
            $230.000
            20% OFF
            MacBook Pro 2019
        </pre>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" width="360px">
        <pre>
            $70.500
            10% off
            Samsung Galaxy S10
        </pre>

        <img src="/images/img-tv-samsung-smart.jpg" alt="TV samsung smart" width="360px">
        <pre>
            $23.200
            5% off
            SmartTv Samsung 43"
        </pre>        

    </header>
</body> 
</html> 