<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale">
</head>
<body>
    <header>
        <div class="encabezado">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre" height="100px" width="360px">
            <input type="text" placeholder="Buscar productos, marcas"><br>
            <i class="fas fa-search"></i>

            <p class = "cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>    
        
        <div class="navegador">
            <ul class="left-nav">
                <li type="none"><a href="#">Ofertas</a></li>
                <li type="none"><a href="#">Tiendas Oficiales</a></li>
                <li type="none"><a href="#">Vender</a></li>
                <li type="none"><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-nav">
                <li type="none"><a href="">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li type="none"><a href="">Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li type="none"><a href="">Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>  

        <div class="burger-menu">
            <a href="" class = "hamburguer-button"><i class="fas fa-bars"></i></a>
        </div>
        
    </header>

    <!-- Formulario -->
    <form action="/" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre de usuari@:</label>
            <input type="text" name="usuario" class="control">
        </div>

        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" class="control">
        </div>

        <button type="submit" class="boton-formulario">Enviar</button>
    </form> 
</body>
</html>